<h2>ToArray</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                ToArray & Take Operator
            </div>
            <div class="card-body">
                <ul *ngFor="let n of list">
                    <li>{{n}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                From & ToArray
            </div>
            <div class="card-body">


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                OF & ToArray
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>