<div class="row card-container">
    <div class="col-md-12">
        <ul class="myclass">
            <li class="card">
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li class="card">
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li class="card">
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li class="card">
                <a routerLink="fromEvent">From Event</a>
            </li>
        </ul>
    </div>
</div>