<div class="row">
    <ul class="myclass">
        <li class="card">
            <a routerLink="fromEvent">From Event</a>
        </li>
        <li class="card">
            <a routerLink="interval">Interval</a>
        </li>
        <li class="card">
            <a routerLink="fromEvent">From Event</a>
        </li>
        <li class="card">
            <a routerLink="fromEvent">From Event</a>
        </li>
        <li class="card">
            <a routerLink="fromEvent">From Event</a>
        </li>
    </ul>
</div>