<h2>Of & From</h2>
<br>
<strong>Ex -01 (OF)</strong>
<hr>
<div class="row">
    <div class="col-md-6">
        <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong>  of('Muhammad','Imad','Khan')</p>
        <ul id="elContainer"></ul>
    </div>
    <div class="col-md-6">
        <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong>  of(&#123; a:'Muhammad',b:'Imad',c:'Khan' &#125;)</p>
        <ul id="elContainer2">
            <li><strong>a : </strong>{{obsMsg.a}}</li>
            <li><strong>b : </strong>{{obsMsg.b}}</li>
            <li><strong>c : </strong>{{obsMsg.c}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        
    </div>
</div>