<h2>Of & From</h2>
<br>
<strong>Ex -01 (OF)</strong>
<hr>
<div class="row">
    <div class="col-md-6">
        <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong>  of('Muhammad','Imad','Khan')</p>
        <ul id="elContainer"></ul>
    </div>
    <div class="col-md-6">
        <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong>  of(&#123; a:'Muhammad',b:'Imad',c:'Khan' &#125;)</p>
        <ul>
            <li><strong>a : </strong>{{obsMsg.a}}</li>
            <li><strong>b : </strong>{{obsMsg.b}}</li>
            <li><strong>c : </strong>{{obsMsg.c}}</li>
        </ul>
    </div>
</div>
<hr>
<strong>Ex -02 (From)</strong>
<hr>
<div class="row">
    <div class="col-md-4">
        <strong>Array</strong>
        <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong>  from(['Wasif','Ahmad','Ali'])</p>
        <hr>
        <ul id="elContainer3"></ul>
    </div>
    <div class="col-md-4">
        <strong>Promise</strong>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Data :</strong> Promise To Observable</p>
            <hr>
            <ul id="elContainer4"></ul>    
        </div>
    <div class="col-md-4">
        <strong>String</strong>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Data :</strong>  String To Observable</p>
            <hr>
            <ul id="elContainer5"></ul>    
        </div>
    </div>